
<h3>Choose an artist</h3>


    <% @artists.each do |artist| %>
      <div class="artistContain">
        <div class="artistName"><%= link_to artist.name, artist %></div>
        
      </div>
    <% end %>


<br>

<%= link_to 'New Artist', new_artist_path %>
