
<h3>Choose an artist</h3>



      <div id="artistContain">
        <%= render @artists %>
        
      </div>
      <%= will_paginate @artists %>




<br>

<%= link_to 'New Artist', new_artist_path %>
