// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.artistContain{
	width: 30%;
	display: inline-block;
}
.artistName a{
	display:inline-block;
	padding: 20px auto;
}
