// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#artistContain{
}
.artistName{
	display: inline-block;
	width: 30%;
}
.artistName a{
	display:inline-block;
	padding: 20px;
}
